---
layout: default
---

<div style="margin-bottom: 1.5rem">
  <span class="page-label">News Article</span>
</div>

<div class="meta-text" style="margin-bottom: 2rem">
  {{ page.date | date_to_long_string }}
</div>

{{ content }}

{% if page.see_also %}
<div class="see-also">
  <h3 class="section-heading" style="margin-bottom: 1rem">See also</h3>
  <ul class="see-also__list">
  {% for i in page.see_also %}
    <li><a href="{{ i.link }}" class="see-also__link">{{ i.title }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}
