---
permalink: /groups/
title: Working Groups and Project Teams
layout: default
---

<h2 class="section-heading--lg" style="margin-bottom: 1.5rem">Working Groups and Project Teams</h2>

<section style="margin-bottom: 2rem">
  {% for group in site.data.groups_sorted %}
    {% if group.inactive == nil %}
    <a href="/groups/{{ group.id }}/" class="group-card" style="display: block; margin-bottom: 1rem">
      {% include group_card.html group=group %}
    </a>
    {% endif %}
  {% endfor %}

  {% for group in site.data.groups_sorted %}
    {% if group.inactive == true %}
    <a href="/groups/{{ group.id }}/" class="group-card" style="display: block; margin-bottom: 1rem; opacity: 0.6">
      {% include group_card.html group=group %}
    </a>
    {% endif %}
  {% endfor %}
</section>
