---
permalink: /groups/
title: Working Groups and Project Teams
html_class: groups
layout: default
---
<div class="with-aside">
  <main>
    <section>
      <h2>Working Groups and Project Teams</h2>

      {% assign groups = site.groups | sort: "order" | where: "inactive", nil %}
      {% for group in groups %}
        <a href="{{ group.url }}" role="article" class="group-card">
          {% include group_card.html group=group %}
        </a>
      {% endfor %}

      {% assign groups = site.groups | sort: "order" | where: "inactive", true %}
      {% for group in groups %}
        <a href="{{ group.url }}" role="article" class="group-card inactive-group">
          {% include group_card.html group=group %}
        </a>
      {% endfor %}
    </section>
  </main>
</div>
