---
permalink: /posts/
title: News & Articles
html_class: news
layout: default
excerpt: ""
---
<div class="with-aside">
  <main>
    {% assign posts = site.posts | sort: "date" | reverse %}
    {% for post in posts %}
      <article class="post {% if forloop.first %}latest{% endif %}">
        <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>

        {% if forloop.first %}
          {% assign excerpt_length = post.excerpt | size %}
          {% assign content_length = post.content | size %}

          <div class="excerpt">
            {{ post.excerpt }}
          </div>

          <footer>
            <span class="date">{{ post.date | date_to_long_string }}</span>
            &emsp;
            {% if post.excerpt and excerpt_length < content_length %}
              <a class="permalink more" href="{{ post.url }}">Continue reading &rarr;</a>
            {% else %}
              <a class="permalink" href="{{ post.url }}">Permalink</a>
            {% endif %}
          </footer>

        {% else %}
          <footer>
            <span class="date">
              {{ post.date | date_to_long_string }}
            </span>
            &emsp;
            <a class="permalink more" href="{{ post.url }}">Continue reading &rarr;</a>
          </footer>
        {% endif %}
      </article>
    {% endfor %}
  </main>
</div>
