<span class="group-label group-type">
  {%- if include.group._id contains 'wg' -%}
    working group
  {%- elsif include.group._id contains 'ma' -%}
    maintenance agency
  {%- elsif include.group._id contains 'ag' -%}
    advisory group
  {%- endif -%}
</span>
{%- if include.group.joint_with -%}
  <span class="group-label group-joint-with">
    joint with: {{ include.group.joint_with }}
  </span>
{%- endif -%}
{%- if include.group.inactive == true -%}
  <span class="group-label group-inactive">
    inactive
  </span>
{%- endif -%}
