{% assign group = include.group %}

{% if group.name %}
  <div class="group-name">{{ group.name }}</div>
{% endif %}

<div class="group-title">{{ group.title }}</div>

{% if group._id contains 'wg' %}
  <span class="group-label group-type">
    working group
  </span>
{% endif %}

{% if group.joint_with %}
  <span class="group-label group-joint-with">
    joint with: {{ group.joint_with }}
  </span>
{% endif %}

{% if group.inactive == true %}
  <span class="group-label group-inactive">
    inactive
  </span>
{% endif %}
