{% if include.member %}
  {% assign member = include.member %}
{% elsif include.id %}
  {% assign member = site.data.members.all[include.id] %}
{% endif %}

{% unless member %}
  {% assign member = include.id %}
{% endunless %}

{% if member %}
  <article class="item-card member-card
      {% if include.role %}role-{{ include.role }}{% endif %}  
      {% if member.is_the_chair %}chair {% endif %}
      {% if member.is_in_leadership %}leadership {% endif %}">

    <div class="item-pic">
      {% if member.picture %}
        <img src="/assets/images/members/{{ member.picture }}">
      {% else %}
        <div class="missing-placeholder"></div>
      {% endif %}
    </div>

    <div class="item-text">
      <h3 class="name"><a href="{{ member.url | default: "javascript: void 0;" }}">{{ member.name | default: member }}</a></h3>

      {% if include.affiliation %}
        <span class="affiliation" title="Affiliation: {{ member.affiliation }}">
          {{ member.affiliation }}
        </span>
      {% endif %}

      {% include member_roles.html in_project=include.in_project in_group=include.in_group with_id=include.role roles=member.roles %}
    </div>

  </article>
{% endif %}
