{% if include.event.scheduled_time
   or include.event.chair
   or include.event.secretariat
   or include.event.participants
   or include.event.excused %}

  <div class="event-data">
    <dl>

      {% if include.event.scheduled_time %}
        <dt class="scheduled-time">Event time</dt>
        <dd>{{ include.event.scheduled_time }}</dd>
      {% endif %}

      {% if include.event.chair %}
        <dt class="chair">Chair</dt>
        <dd>{{ include.event.chair }}</dd>
      {% endif %}

      {% if include.event.secretariat %}
        <dt class="secretariat">Secretariat</dt>
        <dd>{{ include.event.secretariat }}</dd>
      {% endif %}

      {% if include.event.participants %}
        <dt class="participants">Participants</dt>
        <dd>{% for p in include.event.participants %}{{ p }}{% unless forloop.last %}, {% endunless %}{% endfor %}</dd>
      {% endif %}

      {% if include.event.excused %}
        <dt class="excused">Excused</dt>
        <dd>{% for p in include.event.excused %}{{ p }}{% unless forloop.last %}, {% endunless %}{% endfor %}</dd>
      {% endif %}

    </dl>

  </div>

{% endif %}
