{% if include.project %}
  {% assign project = include.project %}
{% elsif include.id %}
  {% assign project = site.data.projects[include.id] %}
{% endif %}

<article class="item-card">
  <div class="item-text">
    {% if project %}
      <a href="{{ project.url }}" class="name">{{ project.name }}</a>
      <em class="title" title="{{ project.title }}">{{ project.title }}</em>
    {% else %}
      <span class="name">{{ include.id | replace: '-', ' ' }}</span>
    {% endif %}
  </div>
</article>
