$colWidth: $widescreenBreakpoint / 2.28;
$asideBackground: whiteSmoke;

@mixin header($bgColor, $lineColor) {
  font-size: 85%;
  text-transform: uppercase;
  letter-spacing: .01em;
  color: $lineColor;

  line-height: 1.1;

  margin-bottom: 1rem;

  position: relative;
  z-index: 2;

  &:after {
    content: "\00a0";
    border-bottom: .1rem dotted $lineColor;
    display: block;
    height: 1px;
    position: absolute;
    bottom: .2rem;
    right: 0;
    left: 0;
    z-index: -1;
  }
  &::first-line {
    background: $bgColor;
    padding: .2rem .5rem;
    display: inline-block;
  }
}

body.groups {
  .group-card {
    display: flex;
    flex-flow: row nowrap;

    margin: 0 .5rem .5rem 0;

    .group-name,
    .group-title {
      padding: .4rem .6rem .3rem .6rem;
    }
    .group-name {
      background: linear-gradient(163deg, #dfdfdf 20%, #f0f0f0 70%);
      transition: background .2s linear, color .2s linear;
      font-weight: bold;
    }
    .group-title {
      color: $textColor;
      background: whiteSmoke;
    }

    &:hover {
      text-decoration: none;

      .group-name {
        background: $primaryColor;
        color: white;
      }
    }

    &.inactive-group {
      opacity: 0.8;
      transition: opacity .2s linear;

      .group-name, .group-title {
        color: grey;
      }

      &:hover {
        opacity: 1;

        .group-name {
          background: grey;
          color: white;
        }
      }
    }
  }
}

body.layout--group {

  .wg-summary h1 {
    font-size: 240%;
  }

  .entity.inactive-group .type {
    background: grey;
  }

  .project-list, .standard-list {
    > * {
      flex: 1;
      min-width: 14em;
    }
  }

  .leadership, .history .previous-leadership {
    .member-list {
      @include itemList(1);

      .member-card {
        font-size: 90%;
      }

      .member-card.role-convenor,
      .member-card.role-manager {
        .role .role-title {
          font-weight: bold;
          color: $primaryColor;
        }
      }

      > * {
        flex-basis: 100%;
        margin-bottom: .5rem;

        @media screen and (min-width: $widescreenBreakpoint) {
          flex-basis: 45%;
        }
      }
    }
  }

  @media screen and (min-width: $widescreenBreakpoint) {
    section.group-info,
    .collaborative-party-list {
      column-width: $colWidth;

      .sect1, .sect2, .sect3 {
        h1, h2 {
          text-align: center;
          column-span: all;
        }
      }
      .sect2, .sect3, .paragraph, .admonitionblock, .collaborative-projects {
        break-inside: avoid;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        column-break-inside: avoid;
        break-inside: avoid-column;
        overflow: auto;
      }
    }

    div.activities,
    div.scope-and-leadership,
    section.history .section-body {
      display: flex;
      flex-flow: row nowrap;

      > * {
        flex-basis: $colWidth;
        flex-grow: 0;
        flex-shrink: 0;
        overflow: hidden;
      }
      > :first-child {
        padding-right: 2rem;
      }
    }
  }

  header.wg-summary,
  div.activities,
  div.scope-and-leadership {
    @include wideContainer();
  }

  .group-info::contains(div) {
    border-top: 1px solid $primaryColor;
  }

  aside {
    background: $asideBackground;
    padding-bottom: 1rem;
    a, a:link {
      color: $linkColor;
    }
  }

  .group-info,
  .group-intro,
  .scope .text,
  .history .story,
  .collaborative-party .collab-description {
    @include asciidoc-markup();
    font-size: 92%;
  }

  .group-intro {
    font-size: 110%;
  }

  .scope .text,
  .collab-description {
    > .paragraph:first-child > p:first-line,
    > p:first-line {
      font-weight: bold;
    }
  }

  .history .story,
  .group-info {
    > .paragraph:first-child {
      @include with-dropcap();
    }
  }

  aside,
  .group-intro,
  .group-info {
    margin-bottom: 1.5rem;
  }

  section {
    margin-bottom: 0;
    padding-bottom: .5rem;
    padding-top: .5rem;

    h3 {
      font-size: 110%;
    }
  }

  main section {
    > h2 {
      @include header(white, $primaryColor);
    }
  }
  aside section {
    > h2 {
      @include header($asideBackground, $primaryColor);
    }
  }

  section.group-info {
    padding-top: .5rem;
  }

  section.history,
  section.collaborative-parties {
    > h2 {
      border-top: none;
    }
  }
}
