$userPicW: 14rem;
$userPicGap: 2rem;

body.layout--member_index {
  section {
    @include wideContainer();
  }

  .member-list {
    @extend .item-list;
  }
}

body.layout--member {
  main {
    @include asciidoc-markup();

    header + .paragraph {
      @include with-dropcap();
    }

    p.links {
      > * {
        margin-right: .5rem;
        font-size: 120%;

        .fas, .fab {
          vertical-align: text-bottom;
        }

        .link-title {
          font-size: 60%;
          text-transform: uppercase;
        }
      }
    }

    h1 {
      font-size: 240%;
    }

    p.roles {
      text-transform: uppercase;

      .role {
        &:after {
          content: " • ";
        }
        &:last-child:after {
          content: "";
        }
        .time-period {
          text-transform: none;
        }
      }
    }

    header {
      &.with-pic {
        overflow: hidden;

        .picture {
          max-width: 14rem;
        }

        @media screen and (min-width: $bigscreenBreakpoint) {
          padding-left: $userPicW + $userPicGap;

          .picture {
            display: block;
            width: $userPicW;
            margin-left: -$userPicW - $userPicGap;
            float: left;
          }
        }
      }
    }
  }
}
