.minutes-header-with-date {
  position: relative;
  padding-right: 6em;

  .date {
    position: absolute;
    top: 50%;
    right: 0;
    width: 5em;
    height: 5em;
    font-weight: bold;
    line-height: 1;
    transform: translateY(-50%);

    .day {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      color: $borderColor2;
      font-size: 5em;
    }
    .month {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateY(-100%);
      text-transform: uppercase;
    }
  }
}

body.minutes,
body.layout--minutes,
body.layout--minutes_index {
  .event-data {
    border-color: $borderColor2;
    border-style: solid;
    border-width: 1px 0 1px 0;
    padding: 1.25em 0;

    dt {
      font-weight: bold;
      position: relative;

      display: flex;
      flex-flow: row nowrap;

      &:before {
        display: block;
        width: 1em;
        height: 1em;
        margin-right: .8em;
        position: relative;
        top: 2px;
        content: " ";
        background-position: center center;
        background-size: cover;
      }

      &.event-time:before {
        background-image: url(/assets/img/fa/clock.svg);
      }

      &.excused:before {
        background-image: url(/assets/img/fa/minus-circle-solid.svg);
      }

      &.participants:before {
        background-image: url(/assets/img/fa/check-solid.svg);
      }

      &:after {
        content: ":";
      }
    }
    @media screen and (min-width: $bigscreenBreakpoint) {
      dl, dt, dd, p {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      dl {
        display: flex;
        flex-flow: row wrap;

        dt {
          flex-shrink: 1;
          flex-grow: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          flex-basis: 20%;
        }
        dd {
          flex: 1;
          flex-basis: 80%;
        }
      }
    }
  }
}

body.layout--minutes_index,
body.minutes {
  article.minutes {
    margin-bottom: 3em;

    header {
      @extend .minutes-header-with-date;

      .title {
        margin: 0 0 .3em 0;
        font-size: 160%;

        a:link, a:visited {
          color: inherit;
        }
      }
    }

    .subtitle {
      margin-top: 0;
      margin-bottom: 1.5em;
      font-weight: bold;
      font-size: 100%;
      color: $linkColor;
    }

    .excerpt {
      margin-bottom: 2em;

      .readmore, .event-data {
      }
      .readmore {
        font-weight: bold;
      }
    }

    footer {
      background: $borderColor1;
      padding: 1.2em 1.8em;
      display: flex;
      flex-flow: row nowrap;
      font-size: 90%;

      .category {
        margin-right: 1em;
      }
      .category, .tags {
        .label {
          font-weight: bold;
          margin-right: .5em;
        }
        .content {
          a:link, a:visited {
            color: inherit;
          }
        }
      }
    }
  }
}

body.layout--minutes {
  @include asciidoc-markup();

  main > header {
    margin-bottom: 3em;
    @extend .minutes-header-with-date;

    > h1 {
      margin: 0;
      color: lighten($textColor, 40);
      font-weight: normal;
    }
    > h2 {
      margin-top: 0;
      font-size: 160%;
    }
  }
  table.action-summary {
    font-size: 90%;

    th, td {
      padding: .5em;

      p {
        margin: 0;
      }

      &:first-child {
        width: 1%;
        font-weight: bold;
      }
      &:nth-child(2) {
        width: 100%;
      }
    }
  }
}
