body.projects {
  article.project {
    margin-bottom: 1em;

    .name {
      font-size: 100%;
      margin: 0;
    }
    .title {
      margin: 0;
    }
    .excerpt {
      @include asciidoc-markup();

      .paragraph p {
        margin-top: 0;
      }
    }
  }
}

body.layout--project {
  @include asciidoc-markup();
}

body.layout--project,
body.projects {
  .with-aside {
    @include wideContainer();

    aside {
      ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      li {
        border-bottom: 1px solid $borderColor1;
        padding-bottom: .7em;
        margin-bottom: .7em;
        font-size: 90%;
        white-space: nowrap;

        a {
          color: $linkColor;
        }
        &:last-child {
          border-bottom: 0;
          padding-bottom: 0;
          margin-bottom: 0;
        }
        &.active {
          font-weight: bold;
          position: relative;

          &:before {
            position: absolute;
            left: -2em;
            top: -.15em;
            content: "→";
            display: block;
          }
        }
      }
    }

    @media screen and (min-width: $bigscreenBreakpoint) {
      display: flex;
      flex-flow: row nowrap;

      aside {
        flex-basis: 20vw;
        margin-left: 3vw;
        border-left: 1px solid $borderColor1;
        padding-left: 5vw;
      }
    }
    @media screen and (min-width: $widescreenBreakpoint) {
      aside {
        flex-basis: 20vw;
      }
    }
  }
}
