body.standards {
  article.standard {
    margin-bottom: 1em;

    .name {
      font-size: 100%;
      margin: 0;
    }
    .title {
      margin: 0;
    }
  }
}

body.layout--standard {
  @include asciidoc-markup();
}
