---
layout: default

extra_stylesheets:
  - href: "https://unpkg.com/flickity@2/dist/flickity.min.css"

  - href: /assets/vendor/openlayers/ol.css

extra_scripts:
  - src: "https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"
  - src: "/assets/js/slider.js"

  - src: /assets/vendor/openlayers/ol.js
  - src: "https://unpkg.com/popper.js@1"
  - src: "https://unpkg.com/tippy.js@5"
  - src: /assets/js/event_map.js
---

<main>

  {% assign num_unfinished_events = site.data.unfinished_events | size %}
  {% if num_unfinished_events > 0 %}
    <section class="events">
      {% for event in site.data.unfinished_events %}
        <article class="event">
          <div class="summary">
            <header>
              <h3 class="title">
                <a href="{{ event.landing_url }}">{{ event.title }}</a>
              </h3>
              <div class="meta">
                <span class="time">
                  <i class="fas fa-calendar icon"></i>
                  {% if event.current %}
                    Now!
                  {% else %}
                    {%- include date_with_precision.html date=event.time.from default_precision="day" -%}
                    —
                    {%- include date_with_precision.html date=event.time.to default_precision="day" -%}
                  {% endif %}
                </span>
                <span class="place">
                  <i class="fas fa-map-marker icon"></i>
                  {{ event.general_area }}
                </span>
              </div>
            </header>
            <section class="intro">
              {{ event.intro | asciidocify }}
            </section>
          </div>
          <div class="mini-map"
            data-map-container
            data-map-disable-interactions
            data-map-id="mini-map-{{ event.id }}"
            data-map-center='{"lon": {{ event.map_defaults.center.lon }}, "lat": {{ event.map_defaults.center.lat }}, "zoom": {{ event.map_defaults.zoom }}}'>
          </div>
        </article>
      {% endfor %}
    </section>
  {% endif %}

  <section class="hero">
    {% for banner in page.banner_includes %}
      {% assign layout_name = banner.layout | default: "default" %}
      <section class="banner banner--{{ layout_name }}">
        {% assign layout_path = "hero_banners/" | append: layout_name | append: ".html" %}
        {% include {{ layout_path }} banner=banner %} 
      </section>
    {% endfor %}
  </section>

  {{ content }}

  <section class="groups">
    {% assign groups = site.groups | where: "featured_on_home", true | sort: "order" | slice: 0, 4 %}
    {% for group in groups %}
      <article class="group">
        <h3>
          <a href="{{ group.url }}">
            {% if group.name %}
              ISO/TC&nbsp;154/{{ group.name }}
            {% else %}
              {{ group.title }}
            {% endif %}
          </a>
        </h3>

        <div class="description">
          {{ group.intro | asciidocify }}
        </div>
      </article>
    {% endfor %}
  </section>

</main>
