---
layout: default
---

<section class="leadership">
  <header>
    <h2>Leadership</h2>
  </header>

  <div class="member-list">
    {% assign chairs = site.members | where: "active", "true" | where_exp: "item", "item.role contains 'chair'" | sort: "name" %}
    {% assign members = site.members | where: "active", "true" | where_exp: "item", "item.role contains 'convenor' or item.role contains 'committee-manager'" | sort: "name" %}
    {% for member in chairs %}
      {% include member_card.html member=member %}
    {% endfor %}
    {% for member in members %}
      {% include member_card.html member=member %}
    {% endfor %}
  </div>
</section>

<section class="current-members">
  <header>
    <h2>All current members</h2>
  </header>

  <div class="member-list">
    {% assign members = site.members | where: "active", "true" | sort: "name" %}
    {% for member in members %}
      {% include member_card.html member=member %}
    {% endfor %}
  </div>
</section>

<section class="past-members">
  <h2>Past members</h2>

  <div class="member-list">
    {% assign members = site.members | where: "active", "false" | sort: "name" %}
    {% for member in members %}
      {% include member_card.html member=member %}
    {% endfor %}
  </div>
</section>
