---
layout: default
---

<section class="leadership">
  <header>
    <h2>Leadership</h2>
  </header>

  <div class="member-list">
    {% include member_card.html id=site.data.members.chair %}

    {% for member_id in site.data.members.leadership %}
      {% include member_card.html id=member_id %}
    {% endfor %}
  </div>
</section>

<section class="current-members">
  <header>
    <h2>All current members</h2>
  </header>

  <div class="member-list">
    {% for member_id in site.data.members.current %}
      {% include member_card.html id=member_id %}
    {% endfor %}
  </div>
</section>

<section class="past-members">
  <h2>Past members</h2>

  <div class="member-list">
    {% for member_id in site.data.members.past %}
      {% include member_card.html id=member_id %}
    {% endfor %}
  </div>
</section>
