---
layout: default
---

<div class="with-aside">
  <main>
    {% if page.tag %}
      <header>
        <h1 class="entity">
          <span class="id">{{ page.tag }}</span>
          <span class="type">tag</span>
        </h1>
      </header>
    {% endif %}

    {% assign all_minutes = page.items | default: site.minutes %}
    {% assign all_minutes = all_minutes | sort: 'date' | reverse %}

    {% for minutes in all_minutes %}
      {% if minutes.cat %}
      {% comment %} ^^^ checks that structure was migrated {% endcomment %}

      <article class="minutes">
        <header aria-label="header for {{ minutes.title }}">
          <h1 class="title">
            <a href="{{ minutes.url }}">{{ minutes.title }}</a>
          </h1>
          <h2 class="subtitle">
            <a href="{{ minutes.url }}">{{ minutes.subtitle }}</a>
          </h2>
          <div class="date">
            <span class="day">{{ minutes.date | date: "%d" }}</span>
            <span class="month">{{ minutes.date | date: "%b" }}</span>
          </div>
        </header>

        <section class="excerpt">
          {{ minutes.content | truncatewords: 50 }}

          <p class="readmore">
            <a href="{{ minutes.url }}">Continue reading &rarr;</a>
          </p>
        </section>

        <footer>
          <section class="category">
            <span class="label">Category:</span>
            <span class="content">{{ minutes.cat }}</span>
          </section>

          <section class="tags">
            <span class="label">Tags:</span>
            <span class="content">
              {% for tag in minutes.tags %}
                <a href="./{{ tag | replace: "/", "-" | replace: " ", "-" }}"
                  >{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
              {% endfor %}
            </span>
          </section>
        </footer>
      </article>

      {% endif %}
    {% endfor %}
  </main>

  <aside class="minutes-nav">
    {% include minutes_nav.html active_minutes_permalink=page.permalink %}
  </aside>
</div>
