---
layout: default
---

<div class="with-aside">
  <main>
    <header>
      <h1 class="entity">
        <span class="type">post</span>
      </h1>
      <h2 class="headline">{{ page.title }}</h2>
    </header>

    {{ page.content }}

    <footer>
      <section class="meta">
        <div class="date">{{ page.date | date_to_long_string }}</div>
      </section>

      {% if page.see_also %}
        <section class="see-also">
          <h3>See also</h3>
          <ul>
          {% for i in page.see_also %}
            <li><a href="{{ i.link }}">{{ i.title }}</a>
          {% endfor %}
          </ul>
        </section>
      {% endif %}
    </footer>
  </main>

  <aside class="post-list">
    {% include posts_nav.html active_post_id=page.id %}
  </aside>
</div>
